.Rproj.user
.Rhistory
.RData
.Ruserdata
.jpg

**_cache
**_files

# intermediate files created by latex
**.aux
**.log

# memoise cache
.rcache

# automatically downloaded methexp library
.methexp.bib

# ignore build artifacts in folder studies/
studies/*/data/*
studies/*/model-objects/*
studies/*/*html
studies/*/*pdf
